@import 'vars';

.Input{
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    border: 1px solid $outlineblue;
    padding: 8px 12px;
    height: auto;
    font-size: 1.2rem;
    background-color: white;

    &__Search{
        max-width: 300px;
    }

    &__text{

    }

    &__select{
        appearance:none;
        background-color: white;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%3Cpolyline%20transform%3D%22matrix%28-1%200%200%20-1%2025%2025%29%22%20points%3D%223.5%2016%2012.5%209%2012.5%209%2021.5%2016%22%20stroke-width%3D%222%22%20stroke%3D%22%23244c91%22/%3E%0A%20%3C/g%3E%0A%3C/svg%3E%0A');
        background-repeat: no-repeat;
        background-position: right 6px center;
        height: 2.5rem;
    }

    &__textRadio{
        position: absolute;
        left: -200vw;

        &:checked + .Input__textRadioLabel{
            &:before{
                content: 'Home screen';
                color: $dkblue;
                font-weight: 600;
            }
        }
    }

    &__textRadioLabel{
        cursor: pointer;

        &:before{
            content: 'Set as home';
            color: $midgrey;
            font-weight: 400;
            transition: color 0.3s;
        }
    }
    
    &__checkbox{
        position: absolute;
        left: -200vw;

        &:checked + .Input__checkboxLabel{
            background: url("data:image/svg+xml,%3Csvg%20width%3D%2225px%22%20height%3D%2225px%22%20viewBox%3D%220%200%2025%2025%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Form-/-check-on%22%20fill%3D%22%23526382%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M20.5%2C19.5059%20C20.5%2C20.0539%2020.054%2C20.4999%2019.506%2C20.4999%20L5.494%2C20.4999%20C4.946%2C20.4999%204.5%2C20.0539%204.5%2C19.5059%20L4.5%2C5.4939%20C4.5%2C4.9459%204.946%2C4.4999%205.494%2C4.4999%20L19.506%2C4.4999%20C20.054%2C4.4999%2020.5%2C4.9459%2020.5%2C5.4939%20L20.5%2C19.5059%20Z%20M19.506%2C2.4999%20L5.494%2C2.4999%20C3.843%2C2.4999%202.5%2C3.8419%202.5%2C5.4939%20L2.5%2C19.5059%20C2.5%2C21.1559%203.84%2C22.4999%205.494%2C22.4999%20L19.506%2C22.4999%20C21.157%2C22.4999%2022.5%2C21.1599%2022.5%2C19.5059%20L22.5%2C5.4939%20C22.5%2C3.8439%2021.16%2C2.4999%2019.506%2C2.4999%20L19.506%2C2.4999%20Z%22%20id%3D%22Fill-1%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Fill-4%22%20points%3D%2211.9473%2018.0879%207.7933%2013.9359%209.2073%2012.5219%2011.5983%2014.9119%2016.6563%206.9629%2018.3433%208.0369%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E") no-repeat;
            // background: red;
        }
    }
   
    &__checkboxLabel{
        cursor: pointer; 
        position: relative;
        height: 25px;
        background: url("data:image/svg+xml,%3Csvg%20width%3D%2225px%22%20height%3D%2225px%22%20viewBox%3D%220%200%2025%2025%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Form-/-check-off%22%20fill%3D%22%23526382%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.5059%2C2.5%20L5.4939%2C2.5%20C3.8429%2C2.5%202.4999%2C3.842%202.4999%2C5.494%20L2.4999%2C19.506%20C2.4999%2C21.156%203.8399%2C22.5%205.4939%2C22.5%20L19.5059%2C22.5%20C21.1569%2C22.5%2022.4999%2C21.16%2022.4999%2C19.506%20L22.4999%2C5.494%20C22.4999%2C3.844%2021.1599%2C2.5%2019.5059%2C2.5%20M19.5059%2C3.5%20C20.6059%2C3.5%2021.4999%2C4.395%2021.4999%2C5.494%20L21.4999%2C19.506%20C21.4999%2C20.605%2020.6059%2C21.5%2019.5059%2C21.5%20L5.4939%2C21.5%20C4.3949%2C21.5%203.4999%2C20.605%203.4999%2C19.506%20L3.4999%2C5.494%20C3.4999%2C4.395%204.3949%2C3.5%205.4939%2C3.5%20L19.5059%2C3.5%22%20id%3D%22Fill-1%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E") no-repeat;
        // background: blue;
    }
}

.Button{
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 9px 15px;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;


    &__Primary{
        background: $blue;
        color: white;

        a {
            color: white;
        }
    }

    &__Secondary{
        background: $ltbrightblue;
        color: $blue;
        font-weight: 600;

        a {
            color: $blue;
        }
    }

    &__Warning{
        background: $red;
    }

    &:disabled{
        background: $midgrey;
    }

}

.attachRight{
    border-radius: 5px 0 0 5px;
}

.attachLeft{
    border-radius: 0 5px 5px 0;
}

.FormRow{
    position: relative;
    margin-bottom: 0.333333rem;
    display: flex;
    align-items: center;
    min-height: 40px;
}

.FormLabel{
    display: inline-block;
    width: 150px;
    font-size: 1.2rem;
    font-weight: 400;
}

.FormInput{
    flex-grow: 2;
    max-width: 400px;

    &__static{
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__narrow{
        flex-grow: 1;
        max-width: 120px;
    }
}