$blue: #244C91;
$dkblue: #526382;
$outlineblue: #8998B3;
$ltblue: #E0E6F2;
$ltbrightblue: #E1EBFE;

$dkgrey: #4D4D4D;
$midgrey: #BDBDBD;
$ltgrey: #F7F7F7;

$red: #E83737;
$green: lightgreen;
$yellow: #FFF560;

$col: 8.333333%;